<template>
  <div class="todo-list">
    <div class="todos-container">
      <div v-if="archivedTodos.length > 0">
        <h2>Archived Tasks</h2>
        <ul class="todo-list">
          <li v-for="(todo, index) in archivedTodos" :key="index" class="todo-item">
            <input type="checkbox" v-model="todo.completed" @change="toggleTodoStatus(todo)" />
            <span :class="{ completed: todo.completed }">{{ todo.desc }}</span>
            <button @click="removeTodo(todo)" class="action-button">Remove</button>
            <button @click="desarchiveTodo(todo)" class="action-button">Unarchive</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import store from '@/stores/todoStore.js';

export default {
  data() {
    return {
      newTodo: ''
    };
  },
  methods: {
    desarchiveTodo(todo) {
      todo.archived = false;
      console.log(store.state.todos);
    },
    removeTodo(todo) {
      store.dispatch('removeTodoAction', todo);
    },
    toggleTodoStatus(todo) {
      todo.completed = !todo.completed;
      console.log(store.state.todos);
    }
  },
  computed: {
    todos() {
      return store.state.todos;
    },
    archivedTodos() {
      return this.todos.filter(todo => todo.archived);
    }
  }
};
</script>

<style scoped>
.todo-list {
  width: 80vw;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todos-container {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.todo-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.action-button {
  padding: 8px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #c82333;
}

input[type="checkbox"] {
  margin-right: 10px;
}
</style>
