<template>
  <div class="todo-list">
    <h1>My To-Do List</h1>
    <input
      type="text"
      v-model="newTodo"
      @keyup.enter="addTodo"
      :placeholder="$t('Add a new task')"
      class="todo-input"
    />
    <button @click="addTodo">{{$t('Add')}}</button>

    <div class="todos-container">
      <div v-if="incompleteTodos.length > 0">
        <h2> {{$t('Incompleted Tasks')}}</h2>
        <ul>
          <li v-for="(todo, index) in incompleteTodos" :key="index" class="todo-item">
            <input type="checkbox" v-model="todo.completed" @change="toggleTodoStatus(todo)" />
            <span :class="{ completed: todo.completed }">{{ todo.desc }}</span>
            <button @click="removeTodo(todo)" class="action-button">{{$t('Remove')}}</button>
            <button @click="archiveTodo(todo)" class="action-button">{{$t('Archive')}}</button>
          </li>
        </ul>
      </div>

      <div v-if="completedTodos.length > 0">
        <h2> {{$t('Completed Tasks')}}</h2>
        <ul>
          <li v-for="(todo, index) in completedTodos" :key="index" class="todo-item">
            <input type="checkbox" v-model="todo.completed" @change="toggleTodoStatus(todo)" />
            <span :class="{ completed: todo.completed }">{{ todo.desc }}</span>
            <button @click="removeTodo(todo)" class="action-button">{{$t('Remove')}}</button>
            <button @click="archiveTodo(todo)" class="action-button">{{$t('Archive')}}</button>
          </li>
        </ul>
      </div>
      <div class="w-100">
        <BarChart :chart-data="chartData"/>
      </div>      
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import store from '@/stores/todoStore.js';
import BarChart from '@/components/barChart.vue';

export default {
  data() {
    return {
      newTodo: ''
    };
  },
  components: {
    BarChart
  },
  computed: {
    todos() {
      return store.state.todos;
    },
    completedTodos() {
      return this.todos.filter(todo => todo.completed);
    },
    incompleteTodos() {
      return this.todos.filter(todo => !todo.completed);
    },
    archivedTodos() {
      return this.todos.filter(todo => todo.archived);
    },
    chartData() {
              return {
                labels: [this.$t('completed'), this.$t('Incompleted'), this.$t('Archived')],

                datasets: [
                  { 
                    
                    backgroundColor: ['green', 'red', 'blue'],
                    data: [this.completedTodos.length, this.incompleteTodos.length, this.archivedTodos.length] 
                  }
                ]
              }
            },
  },
  methods: {
    addTodo() {
      if (this.newTodo.trim() !== '') {
        var todo = {
          desc: this.newTodo,
          completed: false,
          archived: false
        };
        store.dispatch('addTodoAction', todo);
        this.newTodo = '';
      }
    },
    archiveTodo(todo) {
      todo.archived = true;
      console.log(store.state.todos);
    },
    removeTodo(todo) {
      store.dispatch('removeTodoAction', todo);
    },
    toggleTodoStatus(todo) {
      todo.completed = !todo.completed;
      console.log(store.state.todos);
    }
  }
};
</script>

<style scoped>
.todo-list {
  width: 80vw;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.todo-input {
  width: calc(100% - 100px);
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

button {
  padding: 12px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.todos-container {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.todo-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.action-button {
  padding: 8px 12px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #c82333;
}
</style>
