<script setup>
import { RouterLink, RouterView } from 'vue-router'

</script>

<template>

  <div class="common-layout">
    <el-container>
      <el-aside width="200px" class="app">
        <div>
          <img class="logo" src="@/assets/logo.png" alt="logo">
        </div>
        <div class="image-container">
          <img class="image" src="@/assets/profile.png">
        </div>
        <div class="name">Jamila Guebli</div>
        <br>
        <div class="menu-router">
          <div>
            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" class="bi bi-list-check icon"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
            </svg>
            <RouterLink to="/" class="menu-link">TodoList</RouterLink>
          </div>
          <div>
            <svg   xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive icon"
              viewBox="0 0 16 16">
              <path
                d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5zm13-3H1v2h14zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
            </svg>
            <RouterLink to="/archive" class="menu-link">Archive</RouterLink>
          </div>
        </div>
      </el-aside>
      <el-container>
        <el-header class="header">
          <span class="header-item">{{$t('all')}}: ({{ todos.length }})</span>
          <span class="header-item">{{$t('Archive')}} : ({{ archivedTodos.length }})</span>
          <span class="header-item">{{$t('Completed')}}: ({{ completedTodos.length }})</span>
          <span class="header-item">{{$t('incompleted')}}: ({{ incompleteTodos.length }})</span>
 
          <div class="locale-changer">
        <select v-model="$i18n.locale">
          <option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale">{{ locale }}</option>
        </select>
      </div>

        </el-header>
        <el-main>
          <RouterView />
        </el-main>
      </el-container>
    </el-container>
  </div>

</template>
<script>
import { computed } from 'vue';
import store from '@/stores/todoStore.js';

export default {
  computed: {
    todos() {
      return store.state.todos;
    },
    archivedTodos() {
      return this.todos.filter(td => td.archived);
    },
    completedTodos() {
      return this.todos.filter(td => td.completed);
    },
    incompleteTodos() {
      return this.todos.filter(td => !td.completed);
    }
  }
};
</script>
<style scoped>
.app{
  height: 100vh;
 
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px; 
  width: 100%; 
}
.image{
  height: 100px;
  width: auto;
}
.name{
  font-size: 25px;
text-align: center;
}
.common-layout {
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 180px;
  height: auto;
}

.menu-router {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-link {
  padding: 10px;
  position: relative;
  color: rgb(8, 150, 201);
  text-align: left;
  width: 100%;
  text-decoration: none; 
  font-size: 20px;
}

.menu-link:not(:last-child)::after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 0;
}
.icon {
  margin-right: 8px;
  fill: grey; /* Couleur des icônes en gris */
}

.header {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.header-item {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
</style>